# =========================
# Binaries
# =========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output de build
/bin/
/dist/
/build/

# =========================
# Go workspace (se usar)
# =========================
go.work
go.work.sum

# =========================
# Vendor (ignore se NÃO versionar vendor)
# =========================
/vendor/

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/
__debug_bin*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db